<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>

    <br><br>

    <%- include('includesConsultas/tabla_consultas.ejs') %>

    <br><br>
    <form action="/consultas/ProgramaN" method="post">
        <div class="row">
            <button type="submit" class="waves-effect right waves-light btn-large"> Descargar archivo </button>
        </div>
    </form>
<%- include('include/footer.ejs') %>