<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>  
<div class="row">
    <div class="col m1">
        <h2></h2>
        <div class="vl"></div>
    </div>
    <div class="col s11 m3">
      <form>
        <ul>
          <li class = "camposPerfil"><strong><br>Formación profesional</strong></li>
          <li>
            <div class="input-field ">
              <input id="titulo" type="text" class="validate">
              <label for="titulo">Título</label>
            </div>
          </li>
          <li class = "camposPerfil"><strong><br>Correo</strong></li>
          <li>
            <div class="input-field ">
              <input id="correo" type="text" class="validate">
              <label for="correo">Correo</label>
            </div>
          </li>
          <li class = "camposPerfil"><strong><br>Estatus</strong></li>
          <li>
            <div class="input-field ">
              <input id="estatus" type="text" class="validate">
              <label for="estatus">Estatus</label>
            </div>
          </li>
          
        </ul>
      </form>
    </div>
    <div class="col s1 m1"></div>
    <div class="col s11 m3">
      <form>
        <ul>
          <li class = "camposPerfil"><strong><br>Currículum</strong></li>
          <li>
            <div class="file-field input-field">
                <div class="file-field input-field waves-effect waves-light btn-small white black-text">
                    <i class="material-icons left">file_upload</i>Subir</a>
                    <input type="file">
                </div>
            </div>
          </li>
          <li class = "camposPerfil"><strong><br><br><br>Roles</strong></li>
          <li>
            <div class="input-field">
              <select multiple>
                    <% for (let rol of roles) { %>  
                        <option value="<%= rol.valor %>"><%= rol.nombre %></option>
                    <% } %>
              </select>
              <label>Selecciona los roles que desees asignar.</label>
            </div>
          </li>
          <!-- Modal Crear Rol -->
          <a class="waves-effect waves-light modal-trigger btn-small white black-text" href = "#crearRol"><i class="material-icons left">border_color</i>Nuevo rol</a>
        </ul>
    </div>
    <div class="col m2 s12">
      <p></p>
      <!-- Modal Eliminar Terapeuta -->
      <a class="waves-effect waves-light modal-trigger btn-small light-green accent-4" href = "#modalEliminarT"><i class="material-icons left">delete</i>Eliminar</a>
    </div>
    <div class="col m2">
      <p></p>
      <!-- Modal Guardar-->
      <a class="waves-effect waves-light modal-trigger btn-small light-green accent-4" href = "#modalGuardarT"><i class="material-icons left">save</i>Guardar</a>
    </div>  
</div>
<!-- Modal Structure Crear Rol-->
<div id="crearRol" class="modal">
    <%- include('includesGestion/modst_crear_rol.ejs') %>
    <div class="modal-footer">
          <a href="./editar-terapeuta" class="modal-close waves-effect btn-flat">Agregar</a>
        </div>
    </div>
</div><!-- Fin Modal Structure Crear Rol-->
<!-- Modal Structure Eliminar-->
<div id="modalEliminarT" class="modal">
    <div class="modal-content">
      <h4>Eliminar terapeuta</h4>
      <p>¿Está seguro de eliminar al terapeuta?</p>
    </div>
    <div class="modal-footer">
      <a href="./gestion-usuarios" class="modal-close waves-effect btn-flat">Sí</a>
      <a href="./editar-terapeuta" class="modal-close waves-effect btn-flat">Cancelar</a>
    </div>
</div><!-- Fin Modal Structure Eliminar-->
<!-- Modal Structure Guardar-->
<div id="modalGuardarT" class="modal">
    <div class="modal-content">
      <h4>Cambios guardados</h4>
      <p>Los cambios se han realizado con éxito.</p>
    </div>
    <div class="modal-footer">
      <a href="./perfil-terapeuta" class="modal-close waves-effect btn-flat">Aceptar</a>
    </div>
</div><!-- Fin Modal Structure Guardar-->
<%- include('include/footer.ejs') %>