<div>
    <% if(estadoConsulta) { %> <!-- Tabla de un solo programa -->
        <table class="striped highlight responsive-table">
            <thead>
              <tr>
                <td><%= tablaUnProg[0].nombre %></td>
                <% if(mostrarSexEdad) { %>
                  <td><%= tablaUnProg[0].dato[0] %></td>
                  <td><%= tablaUnProg[0].dato[1] %></td>
                <% } %>
                <% if(mostrarCalif) { %>
                  <% for(let p of tablaUnProg[0].Periodos) { %>
                    <td><%= p %></td>
                  <% } %>
                  <td><%= tablaUnProg[0].Notas[0] %></td>
                  <td><%= tablaUnProg[0].Notas[1] %></td>
                  <td><%= tablaUnProg[0].datosFin[0] %></td>
                  <td><%= tablaUnProg[0].datosFin[1] %></td>
                <% } %>
                </tr>
            </thead>
    
            <tbody>
              <% for(let i = 1; i < 7; i++) { %>
                <tr>
                <td><%= tablaUnProg[i].nombre %></td>
                <% if(mostrarSexEdad) { %>
                  <td><%= tablaUnProg[i].dato[0] %></td>
                  <td><%= tablaUnProg[i].dato[1] %></td>
                <% } %>
                <% if(mostrarCalif) { %>
                  <% for(let p of tablaUnProg[i].Periodos) { %>
                    <td><%= p %></td>
                  <% } %>
                  <td><%= tablaUnProg[i].Notas[0] %></td>
                  <td><%= tablaUnProg[i].Notas[1] %></td>
                  <td><%= tablaUnProg[i].datosFin[0] %></td>
                  <td><%= tablaUnProg[i].datosFin[1] %> %</td>
                <% } %>
                </tr>
              <% } %>
            </tbody>
        </table>
    <% } else { %> <!-- Tabla de varios programas -->
        <table class="striped highlight responsive-table">
          <thead>
            <tr>
              <td><%= tablaVariosProg[0].nombre %></td>
              <% if(mostrarSexEdad) { %>
                <td><%= tablaVariosProg[0].dato[0] %></td>
                <td><%= tablaVariosProg[0].dato[1] %></td>
              <% } %>
              <% if(mostrarCalif) { %>
                <% if(califOava) { %>
                  <% for(let p of tablaVariosProg[0].Periodos) { %>
                    <td><%= p %></td>
                  <% } %>
                <% } else { %>
                  <% for(let a of tablaVariosProg[0].Avances) { %>
                    <td><%= a %></td>
                  <% } %>
                <% } %>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 1; i<7; i++) { %>
              <tr>
              <td><%= tablaVariosProg[i].nombre %></td>
              <% if(mostrarSexEdad) { %>
                <td><%= tablaVariosProg[i].dato[0] %></td>
                <td><%= tablaVariosProg[i].dato[1] %></td>
              <% } %>
              <% if(mostrarCalif) { %>
                <% if(califOava) { %>
                  <% for(let p of tablaVariosProg[i].Periodos) { %>
                    <td><%= p %></td>
                  <% } %>
                <% } else { %>
                  <% for(let a of tablaVariosProg[i].Avances) { %>
                    <td><%= a %></td>
                  <% } %>
                <% } %>
              <% } %>
              </tr>
            <% } %>
          </tbody>
        </table> 
    <% } %>                
</div>