<div class="col s3">
    <div class="card blue-grey darken-1" id="<%= 'Programa' + (i*4+j+1) %>" onclick="selCard(event)">
        <div class="card-content white-text">
            <div class="row">
                <div class="col s8">
                    <span class="card-title flow-text"><strong><%= programasConsutas[j].nombre %></strong></span>
                </div>
                <div class="col s4">
                    <div class="nivel-programas-consultas">
                        <i class="material-icons red-text medium right"><%= programasConsutas[j].nivel %></i>
                    </div>
                </div>
                <div class="col s12">
                    <br>
                    <p >Ciclo: &nbsp <%= programasConsutas[j].ciclo %></p>
                    <br>
                    <p >Total Participantes: &nbsp <%= programasConsutas[j].cantDePart %></p>
                    <p ></p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>