
<p><strong>Ciclos del año en curso</strong></p>
<ul class="collapsible"> 
    <% for (let ciclo of ciclos_aactual) { %>
        <li>
            <div class="collapsible-header">
                <a href="./<%= ciclo.fechaInicial.getMonth() %><%= ciclo.fechaInicial.getFullYear() %>" class = "black-text">
                    <%= mes[ciclo.fechaInicial.getMonth()] %> - <%= mes[ciclo.fechaFinal.getMonth()] %>
                </a>
                <span class="badge">
                    <%= ciclo.fechaInicial.getFullYear() %>
                </span>
            </div>
        </li>
    <% } %>
</ul>

<p><br><strong>Ciclos anteriores</strong></p>
<ul class="collapsible"> 
    <% for (let p of a_pasados) { %>
            <li>
                <div class="collapsible-header"><%= p.anio %></div>
                <div class="collapsible-body">
                    <div class="collection">
                        <% for (let ciclo of ciclos) { %>
                            <% if (ciclo.fechaInicial.getFullYear() === p.anio) { %>
                                <a href="./<%= ciclo.fechaInicial.getMonth() %><%= ciclo.fechaInicial.getFullYear() %>" class="collection-item"> <%= mes[ciclo.fechaInicial.getMonth()] %> - <%= mes[ciclo.fechaFinal.getMonth()] %></a>         
                            <% } %>        
                        <% } %>
                    </div>
                </div>
            </li>       
    <% } %>
</ul>
