<table class="highlight">
    <thead>
    <tr>
        <th data-field="nombre">Nombre</th>
        <th data-field="titulo">Rol</th>
        <th data-field="editar"></th>
    </tr>
    </thead>
    <tbody>
    <% for (let usuario of usuarios) { %>  
        <tr>
            <td  style="cursor: pointer;"><a href="<%= usuario.login%>-perfil" class = "black-text"><%= usuario.nombreUsuario %> <%= usuario.apellidoPaterno %></a></td>
            <td><%= usuario.nombre %></td>
                
           
            <td>
            <a href="<%= usuario.login %>-editar" class = "black-text"><i class="material-icons left" style="cursor: pointer;">edit</i></a>
            <!-- Modal Eliminar Usuario -->
            <a class="modal-trigger black-text" href="#modalEliminarU"><i class="material-icons left">delete</i></a>
            </td>
        </tr>
    <% } %>
    <!-- Modal Structure Eliminar Usuario-->
    <div id="modalEliminarU" class="modal">
        <div class="modal-content">
        <h4>Eliminar usuario</h4>
        <p>¿Está seguro de eliminar este usuario?</p>
        </div>
        <div class="modal-footer">
        <a href="#" class="modal-close btn-flat eliminarU">Sí</a>
        <a href="./"  class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
    </div><!-- Fin Modal Structure Eliminar Usuario-->
    </tbody>
</table>