<!-- Modal Structure Editar Programa-->
<% for (let programa of programas) { %>  
    <div id="EditarPrograma-<%=programa.idPrograma%>" class="modal">
      <form action="/gestionAdmin/gestionProgramas/editarPrograma" method="POST" enctype="multipart/form-data">
        <div class="modal-content">
          <h3>Editar: <%=programa.nombrePrograma%></h3>
          <input type="hidden" name="idPrograma" value="<%=programa.idPrograma%>">
          <ul>
            <li><strong><br>Cambiar nombre</strong></li>
            <li>
              <div class="row valign-wrapper">
                <div class="col s1">
                  <label>
                      <input type="checkbox" name="enNombre" id="enNombre-<%=programa.idPrograma%>" onclick="enable(<%=programa.idPrograma%>,'enNombre-','cambiarNombre-')">
                      <span> <strong class= "flow-text black-text" ></strong> </span>
                  </label>
                </div>        
                <div class="col s11">
                  <div class="input tooltipped" data-position="bottom" data-tooltip="Selecciona la casilla para cambiar el nombre">
                    <input disabled name="nombrePrograma" type="text" class="validate"  placeholder="Nombre" id="cambiarNombre-<%=programa.idPrograma%>">
                  </div>
                </div>
              </div>
            </li>
            <li><strong><br>Cambiar imagen (para vista en el tablero)</strong></li>
            <li>
              <div class="row valign-wrapper">
                <div class="col s1">
                  <label>
                      <input type="checkbox" name="enImagen" id="enImagen-<%=programa.idPrograma%>" onclick="enable(<%=programa.idPrograma%>, 'enImagen-','subirImagen-')">
                      <span> <strong class= "flow-text black-text" ></strong> </span>
                  </label>
                </div>        
                <div class="col s11">
                  <div class="file-field input-field">
                    <div class="btn tooltipped" data-position="bottom" data-tooltip="Selecciona la casilla para cambiar la imagen" >
                      <i class="material-icons left">file_upload</i>Subir
                      <input disabled type="file" name="imagen" id="subirImagen-<%=programa.idPrograma%>">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
                </div>
              </div>
              </li>
          </ul>
        </div>
        <div class="modal-footer">
          <br>
          <button  type = "submit" class="modal-action waves-effect waves-light-blue lighten-1 btn">Actualizar<i class="material-icons right">send</i></button>
        </div>
      </form>
    </div><!-- Fin Modal Structure Editar Programa-->

    <!-- Modal Structure Agregar Nivel-->
    <div id="agregarNivel-<%=programa.idPrograma%>" class="modal">
      <form action="/gestionAdmin/gestionProgramas/agregarNivel" method="POST">
        <div class="modal-content">
          <h3>Agregar Nivel</h3>
          <input type="hidden" name="idPrograma" value="<%=programa.idPrograma%>">
          <ul>
            <li><strong><br>Nombre del nivel nuevo</strong></li>
            <li>
              <div class="input">
                <input name="nombreNivel" type="text" class="validate"  placeholder="Nombre">
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button  type = "submit" class="modal-action waves-effect waves-light-blue lighten-1 btn">Agregar<i class="material-icons right">send</i></button>
        </div>
      </form>
    </div><!-- Fin Modal Structure Agregar Nivel-->
<% } %>

<script>
  function enable(idPrograma, idCheck, idInput){
    idCheck +=  idPrograma;
    idInput += idPrograma;
    let bool = document.getElementById(idCheck).checked;
    if(bool){
        document.getElementById(idInput).disabled = false;
    }else{
        document.getElementById(idInput).disabled = true;
    }
  }
</script>