<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>   

<div class="row">
    <br>
  <form action="/gestionAdmin/gestionCiclos/agregar-ciclo" method="POST" onsubmit= "enviarJSONs()">
    <div class="row">
        <div class="input-field col s2 m1">
            <p><strong>Fecha:</strong></p>
        </div>
        <div class="input-field col s4 m3">
          <input type="text"  id="from" name="fechaInicial" class="datepickerInicial">
          <label for="from">Elige la fecha de inicio</label>
        </div>
        <div class="input-field col s4 m3">
          <input type="text" id="to" name="fechaFinal" class="datepickerFinal">
          <label for="to">Elige la fecha de finalización</label>
        </div>
        <div class="col right">
            <div class="input-field">
               <button class="waves-effect waves-light btn-small light-green accent-4 right"  type = "submit"><i class="material-icons left">save</i>Guardar</button>
            </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12">
      <h4>Programas</h4>
      <ul class="collapsible">
        <% for (let programa of programas) { %>  
            <li>
                <div class="collapsible-header">
                    <%= programa.nombrePrograma %>
                    <span class="badge">
                        <label>
                            <input name ="<%= programa.idPrograma %>" id="<%= programa.idPrograma %>" type="checkbox" onChange="mostrarOps(this)"/>
                            <span></span>
                        </label>
                    </span>
                </div>
                <div class="collapsible-body">
                    <div class="collection" id="<%= programa.idPrograma %>at" style = "display:none">
                        <% for (let terapeuta of terapeutas) { %> 
                            <a href="#" class="collection-item"><%= terapeuta.nombreUsuario %> <%= terapeuta.apellidoPaterno %> 
                                <span class="badge">
                                    <label>
                                        <input name ="<%= programa.idPrograma %><%= terapeuta.login %>" id="<%= programa.idPrograma %><%= terapeuta.login %>" type="checkbox" onChange="selTe(this)"/>
                                        <span></span>
                                    </label>
                                </span> 
                            </a>
                        <% } %>
                    </div>
                </div>
            </li>
        <% } %>  
        </ul>       
     </div> 
  </form>
  <input type="text" id="fechaLimite" value="<%= fechaLimite[0].fechaFinal %>" style="visibility:hidden;">
</div>


<%- include('include/footer.ejs') %>

<script>
    // Registro de ciclos 
    let prograsSel=[], terapAsig=[];
    // Aparecer boton de asignar terapeutas
    const  mostrarOps=(elemento) => {
       let isChecked = document.getElementById(elemento.id).checked;
       let id2 = elemento.id + 'at';
        console.log(elemento.id) 
        if (isChecked){
            document.getElementById(id2).style.display = "block";
            prograsSel.push(parseInt(elemento.id));
            console.log(prograsSel);
        }else{
            document.getElementById(id2).style.display = "none";
            let pos = listaProg.indexOf(elemento.id);
            prograsSel.splice(pos, 1);
            console.log(prograsSel);
        }
    
    }
    const selTe=(terapeuta) => {
        isChecked = document.getElementById(terapeuta.id).checked;
        let idP = parseInt(terapeuta.id);
        console.log(idP);
        let aux = [ {login: terapeuta.id.split(idP)[1], idPrograma: idP},];
        if (isChecked){
            terapAsig.push(aux);
            console.log(terapAsig);
        }else{
            let pos = terapAsig.indexOf( idP);
            terapAsig.splice(pos, 1);
            console.log(terapAsig);
    }

    }

    const enviarJSONs = () => {
        let fecha =  new Date (document.getElementById("from").value);
        let data = {
            prograsSel : prograsSel,
            terapAsig: terapAsig,
            fecha: fecha,
        };

        fetch('/gestionAdmin/gestionCiclos/selProg',{
            method: 'POST',
            headers: {'Content-Type':'application/json'},
            body:JSON.stringify(data)
        }).then(result => {
            return result.json();
        });

        
    }
</script>