<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>   

<div class="row">
    <br>
    <div class="row">
        <div class="input-field col s2 m1">
            <p><strong>Fecha:</strong></p>
        </div>
        <div class="input-field col s4 m3">
          <input type="text"  id="from" name="fechaInicial" class="datepickerInicial">
          <label for="from">Elige la fecha de inicio</label>
        </div>
        <div class="input-field col s4 m3">
          <input type="text" id="to" name="fechaFinal" class="datepickerFinal">
          <label for="to">Elige la fecha de finalización</label>
        </div>
        <div class="col right">
            <div class="input-field">
               <a class="waves-effect waves-light btn-small light-green accent-4 right" href="./gestion-perfil-ciclo"><i class="material-icons left">save</i>Guardar</a>
            </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12">
      <h4>Programas</h4>
      <ul class="collapsible">
        <% for (let programa of programas) { %>  
            <li>
                <div class="collapsible-header">
                    <%= programa.nombrePrograma %>
                    <span class="badge">
                        <label>
                            <input name ="<%= programa.idPrograma %>" id="<%= programa.idPrograma %>" type="checkbox" onChange="mostrarOps(this)"/>
                            <span></span>
                        </label>
                    </span>
                </div>
                <div class="collapsible-body">
                    <div class="collection" id="<%= programa.idPrograma %>at" style = "display:none">
                        <% for (let terapeuta of terapeutas) { %>  
                            <a href="#" class="collection-item"><%= terapeuta.nombreUsuario %> <%= terapeuta.apellidoPaterno %></a> 
                        <% } %>
                    </div>
                </div>
            </li>
        <% } %>  
        </ul>       
     </div> 
  </div>


<%- include('include/footer.ejs') %>