<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>

    <br><br>

    <%- include('includesConsultas/tabla_ejemplo.ejs') %>

    <br><br>
    <div class="row">
        <button type="submit" class="waves-effect right waves-light btn-large"> Descargar archivo </button>
    </div>

<%- include('include/footer.ejs') %>