<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>

    <br><h4>Consulta por Grupo:</h4>

    <div class="row">
        <%- include('includesConsultas/tarjetaProg_resultados.ejs') %>
    </div>

    <hr><br><h4>Consulta Total:</h4>

    <div class="row">
        <div class="col s12 ">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                    <% if(estadoConsulta) { %>
                        <div class="col s12">
                            <h5 class="flow-text center-align">Resultados de la consulta en <%= programas[listaProg[0]-1].nombrePrograma %></h5>
                            <p class="flow-text">Total de resultados: <%= datos.length %></p>
                            <% let contPromGen = 1, acumPromGen = 0, cicloCont = 0, progCont = 0; %>
                            <% for(let i = 0; i<intervalos.cant; i++) { %>
                                <p class="flow-text">Promedio Ciclo-<%= parseInt(intervalos.cicloIni)+cicloCont %>: <%= Math.round((consultaGen[0][col_Gen[contPromGen]['name']] ) * 10) / 10 %></p>
                                <% acumPromGen += Math.round((consultaGen[0][col_Gen[contPromGen]['name']] ) * 10) / 10; %>
                                <% contPromGen++; %>
                                <% if(((progCont+1) % listaProg.length) === 0){ %>
                                    <% progCont = 0; cicloCont++; %>
                                <% }else{ %>
                                    <% progCont++; %>
                                <% } %>
                            <% } %>
                            <p class="flow-text">Promedio general: <%= Math.round((acumPromGen/(contPromGen-1)) * 10) / 10 %></p>
                        </div>
                        <div class="white-text"><p>. <br></p></div>
                        <div>
                            <p class="col s8 offset-s1 flow-text">Avance General</p>
                            <p class="col s2 right-align flow-text">
                                <% if(intervalos.cant === 1) { %>
                                    <%= Math.round((consultaGen[0][col_Gen[1]['name']]/(programas[listaProg[0]].puntajeMaximo-1)*100) * 10) / 10 %>
                                <% } else { %>
                                    <%= Math.round(((consultaGen[0][col_Gen[col_Gen.length-1]['name']] - consultaGen[0][col_Gen[1]['name']])/(programas[listaProg[0]].puntajeMaximo-1)*100 ) * 10) / 10 %>
                                <% } %>
                            %</p>
                            <div class="progress col s10 offset-s1">
                                <div class="determinate" style="width: <% if(intervalos.cant === 1) {%><%= Math.round((consultaGen[0][col_Gen[1]['name']])/(programas[listaProg[0]].puntajeMaximo-1)*100) %><% } else { %><%=  Math.round((consultaGen[0][col_Gen[col_Gen.length-1]['name']] - consultaGen[0][col_Gen[1]['name']])/(programas[listaProg[0]].puntajeMaximo-1)*100 ) %><% } %>%;"></div>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="col s12">
                            <p class="flow-text">Total de resultados: <%= datos.length %></p>
                            <% let cicloCont = 0, progCont = 0; %>
                            <% for(let i = 0; i<intervalos.cant; i++) { %>
                                <p class="flow-text">Promedio <%= programas[listaProg[progCont]-1].nombrePrograma %> Ciclo-<%= parseInt(intervalos.cicloIni)+cicloCont %>: <%= Math.round((consultaGen[0][col_Gen[i+1]['name']] ) * 10) / 10 %></p>
                                <% if(((progCont+1) % listaProg.length) === 0){ %>
                                    <% progCont = 0; cicloCont++; %>
                                <% }else{ %>
                                    <% progCont++; %>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
        
        <%- include('includesConsultas/tabla_consultas.ejs') %>

        <br><br>
        <form action="/consultas/Resultados" method="post">
            <div class="row">
                <button type="submit" class="waves-effect right waves-light btn-large"> Descargar archivo </button>
            </div>
        </form>
    </div>

<%- include('include/footer.ejs') %>