<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>     
<div class="row">
    <div class="col m1">
        <h2></h2>
        <div class="vl"></div>
    </div>
    <div class="col s11 m3">
        <form>
          <ul>
            <li class = "camposPerfil"><strong><br>Correo</strong></li>
            <li>
              <div class="input-field ">
                <input id="correo" type="text" class="validate">
                <label for="correo">Correo</label>
              </div>
            </li>
            <li class = "camposPerfil"><strong><br>Estatus</strong></li>
            <li>
              <div class="input-field ">
                <input id="estatus" type="text" class="validate">
                <label for="estatus">Estatus</label>
              </div>
            </li>
            <li class = "camposPerfil"><strong><br>Roles</strong></li>
            <li>
              <div class="input-field">
                <select multiple>
                  <option value="1">Terapeuta</option>
                  <option value="2">Gestor</option>
                  <option value="3">Administrador</option>
                </select>
                <label>Selecciona los roles que desees asignar.</label>
              </div>
            </li>
            <!-- Modal Crear Rol -->
            <a class="waves-effect modal-trigger btn-small white black-text" href = "#crearRol"><i class="material-icons left">delete</i>Nuevo rol</a>
          </ul>
        </form>
      </div>
      <div class="col s1 m1"></div>
      <div class="col s11 m3">
      </div>
      <div class="col m2">
        <p></p>
        <!-- Modal Eliminar Usuario -->
        <a class="waves-effect waves-light modal-trigger btn-small light-green accent-4" href = "#modalEliminarU"><i class="material-icons left">delete</i>Eliminar</a>
        <!-- Modal Structure Eliminar Usuario-->
        <div id="modalEliminarU" class="modal">
          <div class="modal-content">
            <h4>Eliminar gestor</h4>
            <p>¿Está seguro de eliminar al gestor?</p>
          </div>
          <div class="modal-footer">
            <a href="./" class="modal-close waves-effect waves-green btn-flat">Sí</a>
            <a href="./editar-usuario" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
          </div>
        </div><!-- Fin Modal Structure Eliminar Usuario-->
      </div>
      <div class="col m2">
        <p></p>
        <!-- Modal Guardar Usuario -->
        <a class="waves-effect waves-light modal-trigger btn-small light-green accent-4" href = "#modalGuardarU"><i class="material-icons left">save</i>Guardar</a>
        <!-- Modal Structure Guardar Usuario -->
        <div id="modalGuardarU" class="modal">
          <div class="modal-content">
            <h4>Cambios guardados</h4>
            <p>Los cambios se han realizado con éxito.</p>
          </div>
          <div class="modal-footer">
            <a href="./perfil-gestor" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
          </div>
        </div><!-- Fin Modal Structure Guardar Usuario -->
  </div>    
</div>  
<!-- Modal Structure Crear Rol-->
<div id="crearRol" class="modal">
    <%- include('includesGestion/modst_crear_rol.ejs') %>
    <div class="modal-footer">
          <a href="./editar-gestor" class="modal-close waves-effect btn-flat">Agregar</a>
        </div>
    </div>
</div><!-- Fin Modal Structure Crear Rol-->

<%- include('include/footer.ejs') %>