<%- include('include/head.ejs') %>

<blogin>
    <div class="section1">
        <img class="centeredimage" alt="Imagen Login" src="<%= link %>">
    </div>
    <div class="section2">
            <div class="centered">
                <h1><%= titulo %></h1>
                <div style="display:inline-block;vertical-align:top;">
                    <% if (error !== false) { %>
                        <span style="color: #ff3d41;"><%- error %></span>
                    <% } %>
                    <form action= "login" method="POST">
                        <label for="username">Nombre del usuario y/o eMail</label>
                        <input type="text" name="username" required>
        
                        <label for="password">Clave</label>
                        <input type="password" name="password" required minlength="8">
        
                        <input class="waves-effect waves-light btn" type="submit" name="enviar" value="Entrar">        <a class="waves-effect waves-light btn" href="">Recuperar contraseña</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</blogin>

<%- include('include/footer.ejs') %>