<%- include('include/head.ejs') %>

<blogin>
    <div class="section1">
        <img class="centeredimage" alt="Imagen Login" src="<%= link %>">
    </div>
    <div class="section2">
            <div class="centered">
                <h1><%= titulo %></h1>
                <div style="display:inline-block;vertical-align:top;">
                    <% if (error !== false) { %>
                        <span style="color: #ff3d41;"><%- error %></span>
                    <% } %>
                    <form action= "login" method="POST"></form>
                    <div class="input-field col s12">
                        <label for="username">Email</label>
                        <input class="input-field" type="text" name="username" required>
                    </div>
                        
                        <div class="input-field col s12">
                        <label for="password">Clave</label>
                        <input type="password" name="password" required minlength="8">
                        </div>
                        <div class="input-field col s12">
                            <button style="color: gray" class="btn yellow lighten-5 waves-effect waves-light" type="submit" name="action">Entrar
                                <i class="material-icons right">send</i>
                            </button>
                                    <a style="color: gray" class="waves-effect waves-light btn  yellow lighten-5" href="">Recuperar contraseña</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</blogin>

<%- include('include/footer.ejs') %>