<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>  
    
<div class="row">
    <div class="col s12 m4">     
        <div class="row">
            <div class="input-field col s12" >
            <i class="material-icons prefix">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Objetivo</label>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
          <div class="input-field col s12">
            <!-- Modal Agregar -->
             <a class="waves-effect waves-light btn-small modal-trigger light-green accent-4" href="#agregarObjetivo"><i class="material-icons left">add_circle</i>Agregar</a>
          </div>
        </div>
    </div>
    <!-- Inicia Modal Structure agregar objetivo-->
    <form action="/gestionAdmin/gestionProgramas/objetivos/agregar-objetivo" method="POST">
        <div id="agregarObjetivo" class="modal">
            <div class="modal-content">
                <h3>Nuevo objetivo</h3>
                <input type="hidden" name="idNivel" value="<%=idNivel%>">
            <ul>
                <li><strong><br>Descripción</strong></li>
                <li>
                <div class="input">
                    <input name="descripcion" type="text" class="validate"  placeholder="Descripción">
                </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <br>
            <button  type = "submit" class="modal-action waves-effect waves-light-blue lighten-1 btn">Agregar<i class="material-icons right">send</i></button>
        </div>
        </div><!--Fin Modal Structure agregar programa-->
    </form>
</div>
<p><strong>Objetivos</strong></p>
<ul class="collapsible"> 
    <% let i = 1; %>
    <% for (objetivo of objetivos) { %>  
        <li>
            <div class="collapsible-header">
                <%= i%>.- <%= objetivo.descripcion %>
                <span class="badge">
                    <!-- Modal Editar -->
                    <a class="waves-effect waves-light modal-trigger black-text" href="#EditarObjetivo" onclick="obtenerIdObj(<%=objetivo.idObjetivo%>)"><i class="material-icons left">edit</i></a>
                    <!-- Modal Eliminar -->
                    <a class="waves-effect waves-light modal-trigger black-text" href="#modalEliminarObj" onclick="eliminarObj(<%=objetivo.idObjetivo%>)"><i class="material-icons left">delete</i></a>
                </span>
            </div>
        </li>
        <% i++; %>
    <% } %>
</ul>

<!-- Modal Structure Editar Objetivo-->
<form action="/gestionAdmin/gestionProgramas/objetivos/editar-objetivo" method="POST">
    <div id="EditarObjetivo" class="modal">
        <div class="modal-content">
            <h3>Editar objetivo</h3>

            <input type="hidden" name="idNivel" value="<%=idNivel%>">
            <div id="idObjetivo"></div>
            <ul>
                <li><strong><br>Descripción</strong></li>
                <li>
                <div class="input">
                    <input name="descripcion" type="text" class="validate"  placeholder="Descripción">
                </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <br>
            <button  type = "submit" class="modal-action waves-effect waves-light-blue lighten-1 btn">Actualizar<i class="material-icons right">send</i></button>
        </div>
    </div>
</form><!-- Fin Modal Structure Editar Programa-->

<!-- Modal Structure Eliminar Objetivo-->
<form action="/gestionAdmin/gestionProgramas/objetivos/eliminar-objetivo" method="POST">
    <div id="modalEliminarObj" class="modal">
        <div class="modal-content">
            <h4>Eliminar objetivo</h4>
            <p>¿Está seguro de eliminar este objetivo?</p>
            <input type="hidden" name="idNivel" value="<%=idNivel%>">
            <div id="eliminarObjetivo"></div>
        </div>
        <div class="modal-footer">
            <button  type = "submit" class="modal-action waves-effect waves-light-blue lighten-1 btn">Eliminar<i class="material-icons right">delete</i></button>
        </div>
    </div>
</form><!-- Fin Modal Structure Eliminar Objetivo-->

<%- include('include/footer.ejs') %>

<script>
    const obtenerIdObj = (idObjetivo) => {
        html = '<input type="hidden" name="idObjetivo" value="' + idObjetivo + '">'
        document.getElementById('idObjetivo').innerHTML = html;
        M.AutoInit();
    }

    const eliminarObj = (idObjetivo) => {
        html = '<input type="hidden" name="idObjetivo" value="' + idObjetivo + '">'
        document.getElementById('eliminarObjetivo').innerHTML = html;
        M.AutoInit();
    }

</script>