<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>  

<p><strong>Objetivos</strong></p>
<ul class="collapsible"> 
    <% for (let objetivo of objetivos) { %>  
        <li>
            <% if (objetivo.nivel==1) { %> 
                <div class="collapsible-header"><%= objetivo.numero %> - <%= objetivo.descripcion %></div>
            <% } %>
        </li>
    <% } %>
</ul>

<%- include('include/footer.ejs') %>