<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>        
    <div class="row"><!------------------Fila 1 ------------------------>
      <% for (programa of programas) { %>
        <div class="col s12 m6 l4"><!------------------Programa 1 ------------------------>
          <div class="card">
            <div class="card-image">
              <img src="https://www.fundacionsomos.cl/wp-content/uploads/2017/05/IMG_2792-960x750.jpeg">
            </div>
            <div>
              <a href="/programas/programa1">
                <span class="programa-titulo"><%= programa.nombre%></span>
              </a>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Ciclo: <%= programa.ciclo%></div>
                </li>
                <li>
                  <div class="collapsible-header">Promedio: <%= programa.promedio%></div>
                </li>
                <li>
                  <div class="collapsible-header">Grupos</div>
                  <div class="collapsible-body">
                    <div class="collection">
                      <% for (grupo of programa.grupos) { %>   
                        <a href="<%= programa.referencia %>" class="collection-item">Grupo: <%= grupo%></a><br>
                      <% } %>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div><!------------------Fin Programa 1 -------------------------------->
      <% } %>
    </div><!------------------Fin Fila 1 -------------------------------->

<%- include('include/footer.ejs') %>