<%- include('include/head.ejs') %> 
<%- include('include/titleBar.ejs') %> 
<%-include('include/sideNavBar.ejs') %> 

<% let loginParticipante = ''; %>
<% for (grupo of grupos) { %>
  <div class="row">
    <div class="col s12 m6 ">
      <h5>Terapeuta: <%= grupo.nombreUsuario%> <%= grupo.apellidoPaterno%></h5>
    </div>
    <div class="col s12 m6">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6 ">
      <table >
        <thead>
          <tr>
            <th>Participantes</th>
            <th>Nivel</th>
            <th>Calificaciones</th>
          </tr>
        </thead>
        </tbody>
        <% for (participante of participantes) { %>
          <% if (participante.login !== loginParticipante && participante.idGrupo === grupo.idGrupo) { %>
            <tr>
              <td>
                <a  onclick="registroPuntajes(<%=grupo.idGrupo%>,'<%=participante.login%>')" href="#rPuntaje-<%=participante.login%>">
                  <%=participante.nombreUsuario%>  <%=participante.apellidoPaterno%>    <%=participante.apellidoMaterno%>  
                 </a>
              </td>
              <td>  <%=participante.nombreNivel%>  </td>
              <td></td>
            
          
              <% loginParticipante = participante.login;%>
            <% } %>
          <% } %>
        </tbody>
      </table>
      <br /><br />
    </div>
    <div class="col s12 m6 l6 asignar-puntaje">
      <div id="objetivos-participante-grupo-<%=grupo.idGrupo%>">

      </div>
    </div>
  </div>

<% } %>
  

<script>
  const registroPuntajes = (idGrupo, login) => {
    let data = {
      grupo_id: idGrupo,
      login_participante: login
    };
    console.log(data);
    //función que manda la petición asíncrona
    fetch('/programas/objetivos-participante', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
            //'csrf-token': csrf
        },
        body: JSON.stringify(data)
    }).then(result => {
        return result.json(); //Regresa otra promesa
    }).then(data => {
      //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
      //...
      console.log(data)
      let html = '';
      let numeroObj = 1;
      //Header puntajes
      html ='<h6>Asignar puntajes a: ' + data.objetivos[0].nombreUsuario + ' ' + data.objetivos[0].apellidoPaterno + '</h6>' +
              '<div class="row">' +
                '<div class="col s6">' +
                  '<p><strong>Objetivos</strong></p>' +
                '</div>' +
                '<div class="col s3">' +
                  '<p><strong>Puntaje inicial</strong></p>' +
                '</div>' +
                '<div class="col s3">' +
                  '<p><strong>Puntaje final</strong></p>' +
                '</div>' +
              '</div>';
      //Registro objetivos y puntajes 
      for(objetivo of data.objetivos){
        html +=   '<div class="row">' +
                    '<div class="col s6">' +
                      '<p>' + objetivo.descripcion + '</p>' +
                    '</div>' +  
                    '<div class="col s3">' +
                      '<select id = "puntajeInicial-' + numeroObj + '">';
          
          //Asignacion de opciones para calificar puntaje inicial
          if (objetivo.puntajeInicial === null || objetivo.puntajeInicial === 0  )             
            html +=     '<option value="" disabled selected> - </option>'
          else 
            html +=     '<option value="' + objetivo.puntajeInicial + '" disabled selected> ' + objetivo.puntajeInicial + '</option>'
          for(let puntaje = 1; puntaje <= objetivo.puntajeMaximo; puntaje++){
              html +=   '<option value="' + puntaje + '"> ' + puntaje + '</option>';
          }
          html +=     '</select>' +
                    '</div>'+
                    '<div class="col s3">' +
                      '<select id = "puntajeFinal-' + numeroObj + '">';

          //Asignacion de opciones para calificar puntaje final 
          if (objetivo.puntajeFinal === null || objetivo.puntajeFinal === 0  )             
            html +=     '<option value="" disabled selected> - </option>'
          else 
            html +=     '<option value="' + objetivo.puntajeFinal + '" disabled selected> ' + objetivo.puntajeFinal + '</option>'
          for(let puntaje = 1; puntaje <= objetivo.puntajeMaximo; puntaje++){
              html +=   '<option value="' + puntaje + '"> ' + puntaje + '</option>';
          }
          html +=     '</select>' +
                    '</div>'+ 
                  '</div>';
          numeroObj++;
      }
      html +=     '<div class="row right">' +
                    '<button class="btn-formulario btn waves-effect blue lighten-1" id="guardarPuntajes">Guardar' +
                      '<i class="material-icons right">send</i>' +
                    '</button>' +
                    '<input type="hidden" value="' + data.programa[0].idPrograma + '" id="idPrograma">'
                  '</div>';
                  
      let id = 'objetivos-participante-grupo-' + data.objetivos[0].idGrupo;

      document.getElementById(id).innerHTML = html;
      M.AutoInit();

      document.getElementById("guardarPuntajes").onclick = () => {
        console.log('Guardar puntajes');
        const objetivos = [];
        numeroObj = 1;
        function PGO(login, idGrupo, idObjetivo, pInicial, pFinal){
          this.login = login;
          this.idGrupo = idGrupo;
          this.idObjetivo = idObjetivo;
          this.pInicial = pInicial;
          this.pFinal = pFinal;
        }
        for(objetivo of data.objetivos){
          const idInicio = 'puntajeInicial-' + numeroObj;
          const idFinal = 'puntajeFinal-' + numeroObj;
          const puntajeInicial = document.getElementById(idInicio).value;
          const puntajeFinal = document.getElementById(idFinal).value;
          
          const participante = new PGO(data.participante, data.grupo, objetivo.idObjetivo, puntajeInicial, puntajeFinal );
          objetivos.push(participante); 
          numeroObj++;
        }
        console.log(objetivos);
        fetch('/programas/registro-puntajes',{
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
              //'csrf-token': csrf
          },
          body: JSON.stringify(objetivos)
        }).then(result => {
          return result.json();
        }).then (objetivos => {
          console.log(objetivos)
          let html = '';
          let mensaje = 'Se actualizaron los puntajes de ' + objetivos.nombre[0].nombreUsuario + ' ' + objetivos.nombre[0].apellidoPaterno;
          let id = 'objetivos-participante-grupo-' + objetivos.grupo; 
          document.getElementById(id).innerHTML = html;
          M.toast({html: mensaje}) 
        }).catch(err => {
            console.log(err);
          });
      }
    }).catch(err => {
      console.log(err);
    });
  };
</script>
<%- include('include/footer.ejs') %>
