<%- include('include/head.ejs') %> <%- include('include/titleBar.ejs') %> <%-
include('include/sideNavBar.ejs') %> <% for (grupo of grupos) { %>
<div class="row">
  <div class="col s12 m6">
    <h5>Terapauta: <%= grupo.nombreUsuario%> <%= grupo.apellidoPaterno%></h5>
  </div>
  <div class="col s12 m6">
    <h5>Promedio General: X</h5>
  </div>
</div>

<br /><br />
<% } %>

<div id="participante1" class="modal">
  <!-- Tabla de objetivos a calificar------------------------>
  <div class="modal-content">
    <table>
      <thead>
        <tr>
          <th>Objetivos</th>
          <th>Inicio</th>
          <th>Final</th>
        </tr>
      </thead>
      <tbody>
        <% for (objetivo of objetivos) { %>
        <tr>
          <td><%= objetivo.descripcion%></td>
          <td>
            <div class="input-field puntaje">
              <select>
                <option value="" disabled selected>___</option>
                <% for (let puntaje = 1; puntaje <= grupos[0].puntajeMaximo;
                puntaje++) { %>
                <option value="<%= puntaje%>"><%= puntaje%></option>
                <% } %>
              </select>
            </div>
          </td>
          <td>
            <div class="input-field puntaje">
              <select>
                <option value="" disabled selected>___</option>
                <% for (let puntaje = 1; puntaje <= grupos[0].puntajeMaximo;
                puntaje++) { %>
                <option value="<%= puntaje%>"><%= puntaje%></option>
                <% } %>>
              </select>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <div class="modal-footer">
      <a href="#" class="btn modal-close">Cerrar</a>
    </div>
  </div>
</div>
<!---------------  Fin tabla objetivos----------------------------------------------->

<%- include('include/footer.ejs') %>
