<%- include('include/head.ejs') %> 
<%- include('include/titleBar.ejs') %> 
<%-include('include/sideNavBar.ejs') %> 

<% let loginParticipante = ''; %>
<% for (grupo of grupos) { %>
  <div class="row">
    <div class="col s12 m6">
      <h5>Terapeuta: <%= grupo.nombreUsuario%> <%= grupo.apellidoPaterno%></h5>
    </div>
    <div class="col s12 m6">
      <h5>Promedio General: X</h5>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Participantes</th>
        <th>Nivel</th>
        <th>Calificaciones</th>
      </tr>
    </thead>
    </tbody>
    <% for (participante of participantes) { %>
      <% if (participante.login !== loginParticipante && participante.idGrupo === grupo.idGrupo) { %>
        <tr>
          <td>
            <button class="btn-flat modal-trigger" data-target="rPuntaje-<%=participante.login%>" >
              <%=participante.nombreUsuario%>  <%=participante.apellidoPaterno%>    <%=participante.apellidoMaterno%>  
            </button>
          </td>
          <td>  <%=participante.nombreNivel%>  </td>
          <td></td>
        </tr>
          <% loginParticipante = participante.login;%>
        <% } %>
      <% } %>
    </tbody>
  </table>
  <br /><br />
<% } %>

<% loginParticipante = participantes[0].login %>
<div id="rPuntaje-<%=loginParticipante%>" class="modal">
  <div class="modal-content">
    <table>
      <thead>
        <tr>
          <th>Objetivos</th>
          <th>Inicio</th>
          <th>Final</th>
        </tr>
      </thead>
      <tbody>
<% for (participante of participantes) { %>
  <% if (participante.login === loginParticipante) { %>
        <tr>       
          <td><%= participante.descripcion%></td>
          <td><div class="input-field puntaje">
              <select>
                  <option value="" disabled selected>___</option>
                  <% for (let puntaje = 1; puntaje <= participante.puntajeMaximo; puntaje++) { %>
                      <option value="<%= puntaje%>"><%= puntaje%></option>
                  <% } %>
                </select>
          </div></td>
          <td><div class="input-field puntaje">
              <select>
                  <option value="" disabled selected>___</option>
                  <% for (let puntaje = 1; puntaje <= participante.puntajeMaximo; puntaje++) { %>
                      <option value="<%= puntaje%>"><%= puntaje%></option>
                  <% } %>>
                </select>
          </div></td>
      </tr>
  <% } else { %>
      </tbody>
    </table>
    <div class="modal-footer">
      <a href="#" class="btn modal-close">Guardar</a>
    </div>
  </div>
</div>
<div id="rPuntaje-<%=participante.login%>" class="modal">
  <div class="modal-content">
    <table>
      <thead>
        <tr>
          <th>Objetivos</th>
          <th>Inicio</th>
          <th>Final</th>
        </tr>
      </thead>
      <tbody>
        <tr>       
          <td><%= participante.descripcion%></td>
          <td><div class="input-field puntaje">
              <select>
                  <option value="" disabled selected>___</option>
                  <% for (let puntaje = 1; puntaje <= participante.puntajeMaximo; puntaje++) { %>
                      <option value="<%= puntaje%>"><%= puntaje%></option>
                  <% } %>
                </select>
          </div></td>
          <td><div class="input-field puntaje">
              <select>
                  <option value="" disabled selected>___</option>
                  <% for (let puntaje = 1; puntaje <= participante.puntajeMaximo; puntaje++) { %>
                      <option value="<%= puntaje%>"><%= puntaje%></option>
                  <% } %>>
                </select>
          </div></td>
      </tr>
  <% } %>
<% } %>
      </tbody>
    </table>
    <div class="modal-footer">
      <a href="#" class="btn modal-close">Guardar</a>
    </div>
  </div>
</div>
<!---------------  Fin tabla objetivos----------------------------------------------->

<%- include('include/footer.ejs') %>
