<%- include('include/head.ejs') %> 
<%- include('include/titleBar.ejs') %> 
<%-include('include/sideNavBar.ejs') %> 

<% let loginParticipante = ''; %>
<% for (grupo of grupos) { %>
  <div class="row">
    <div class="col s12 m6 ">
      <h5>Terapeuta: <%= grupo.nombreUsuario%> <%= grupo.apellidoPaterno%></h5>
    </div>
    <div class="col s12 m6">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6 ">
      <table >
        <thead>
          <tr>
            <th>Participantes</th>
            <th>Nivel</th>
            <th>Calificaciones</th>
          </tr>
        </thead>
        </tbody>
        <% for (participante of participantes) { %>
          <% if (participante.login !== loginParticipante && participante.idGrupo === grupo.idGrupo) { %>
            <tr>
              <td>
                <a  onclick="registroPuntajes(<%=grupo.idGrupo%>,'<%=participante.login%>')" href="#rPuntaje-<%=participante.login%>">
                  <%=participante.nombreUsuario%>  <%=participante.apellidoPaterno%>    <%=participante.apellidoMaterno%>  
                 </a>
              </td>
              <td>  <%=participante.nombreNivel%>  </td>
              <td></td>
            
          
              <% loginParticipante = participante.login;%>
            <% } %>
          <% } %>
        </tbody>
      </table>
      <br /><br />
    </div>
    <div class="col s12 m6 l6 asignar-puntaje">
      <div id="objetivos-participante">

      </div>
    </div>
  </div>

<% } %>
  

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
  const registroPuntajes = (idGrupo, login) => {
    let data = {
      grupo_id: idGrupo,
      login_participante: login
    };
    console.log(data);
    //función que manda la petición asíncrona
    fetch('/programas/registro-puntaje', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
            //'csrf-token': csrf
        },
        body: JSON.stringify(data)
    }).then(result => {
        return result.json(); //Regresa otra promesa
    }).then(data => {
      //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
      //...
      let html = '';

      html ='<h6>Asignar puntajes a: ' + data.objetivos[0].nombreUsuario + ' ' + data.objetivos[0].apellidoPaterno + '</h6>' +
              '<table>' +
                '<thead>' +
                  '<th>Objetivos</th>' +
                  '<th>Puntaje inicial</th>' +
                  '<th>Puntaje final</th>' +
                '</thead>' +
                '<tbody>';
                
                  
      html +=   '</tbody>' +
              '</table>' +
            '</div>';

      document.getElementById('objetivos-participante').innerHTML = html;
     
    }).catch(err => {
      console.log(err);
    });
  };
</script>
<%- include('include/footer.ejs') %>
