<% for (let programa of programasResultados) { %>
  <div class="col s12 m6 l4 xl3">
      <a href="/consultas/ProgramaN">
        <div class="card" >
          <div class="card-image">
            <img src="<%= programa.linkFoto %>">
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col s8">
                  <span class="card-title flow-text"><strong><%= programa.nombre %></strong></span>
              </div>
              <div class="col s4">
                <div class="nivel-programas-consultas">
                  <i class="material-icons red-text medium right"><%= programa.nivel %></i>
                </div>
              </div>
              <div class="descr-programas-consultas">
                <p >Ciclo: &nbsp <%= programa.ciclo %></p>
                <p >Num de matchs: &nbsp <%= programa.numCoincid %></p>
                <p >Total Participantes: &nbsp <%= programa.numParticip %></p>
                <p >Promedio: &nbsp <%= programa.promedio %></p>
                <br>
              </div>
              <div>
                <p class="col s8 offset-s1">Avance</p>
                <p class="col s2 right-align"><%= programa.avance %>%</p>
                <div class="progress col s10 offset-s1">
                  <div class="determinate" style="width: <%= programa.avance %>%"></div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </a>
  </div>
<% } %>